<div class="todo-actions">
  <span id="todo-count">
    <strong>{{activeCount}}</strong>
</span>
  <ul id="filters">
    <li class="all">
      <a href="#/">All</a>
    </li>
    <li class="active">
      <a href="#/active">Active</a>
    </li>
    <li class="completed">
      <a href="#/completed">Completed</a>
    </li>
  </ul>
  <button id="clear-completed" {{#unless completedCount}}class="hidden" {{/unless}}>Clear completed</button>
</div>
